# Shells special built-in utilities commands



# Shells builtin utilities commands

#	cd				change the working directory
# (i) Bourne shell (sh) builtin.

alias	d='cd '

alias	..='cd ..' # Change the working dir to current user's parent one.

alias	...='cd ../..' # Change the working dir to current's grand-parent one.

alias	....='cd ../../..' # Change the working dir to current's grand-grand-parent one.

alias	.....='cd ../../../..' # Change the working dir to current's grand-grand-grand-parent one.

alias	......='cd ../../../../..' # Change the working dir to current's grand-grand-grand-grand-parent one.

alias	rt='cd /' # Change the working dir to root.

alias	~='cd ~' # Change the working directory to current user's home. (i) `cd` would do the same, and this is what I enter most, but it would break where `~`'s signification changes.

alias	.f="cd ~/.files && git status --short && printf '\n' && echo '.gitnote:' && cat .gitnote && printf '\n'" # Change the working dir to my dot-files', show the working tree status, then concatenate and print .gitnote.

alias	kb='cd ~/kbs' # Change the working dir to mine. /!\ Deprecated: Because I never found any real use to this directory, I do not use it anymore, and I might literally remove it from my setup anytime, at least as a way to do things more cleanly pops into I's mind.

alias	mi='cd ~/misc' # Change the working dir to my misc files'.

alias	op='cd ~/ops' # Change the working dir to my ongoing operations'.

alias	r1='cd /Volumes/KBSPCMD100R/VOICE/FOLDER01'
alias	r2='cd /Volumes/KBSPCMD100R/VOICE/FOLDER02'
alias	r3='cd /Volumes/KBSPCMD100R/VOICE/FOLDER03'
alias	r4='cd /Volumes/KBSPCMD100R/VOICE/FOLDER04'
alias	r5='cd /Volumes/KBSPCMD100R/VOICE/FOLDER05'
# Change the working dir to one of my recorder's recorded files'.

alias	app='cd /Applications' # Change the working directory to system applications'.
alias	apps='app'

alias	dt='cd ~/Desktop' # Change the working dir to current macOS user's desktop'.

alias	dx='cd ~/Documents' # Change the working dir to current macOS user's documents'.

alias	dl='cd ~/Downloads' # Change the working dir to current macOS user's downloads'.

alias	li='cd ~/Library' # Change the working dir to current macOS user's library's.

alias	mo='cd ~/Movies' # Change the working dir to current macOS user's movies'.

alias	mu='cd ~/Music' # Change the working dir to current macOS user's music's.

alias	it='cd ~/Music/iTunes' # Change the working dir to current macOS user's iTunes'.

alias	px='cd ~/Pictures' # Change the working dir to current macOS user's pictures'.

alias	.t='cd ~/.Trash' # Change the working dir to current macOS user's trash's.

alias	tf='cd ~/Temporary' # Change the working directory to current Apple Computer Operating System's current user's temporary unofficial folder.

alias	db='cd ~/Dropbox' # Change the working dir to current user's Dropbox's.

#	source
# (i) Bourne-again shell (bash) builtin.

alias	src='source '

#	chdir
# (i) Z shell (zsh) builtin.

alias	chdir='cd '
#alias	d='chdir '

#	exec

alias	nsh='exec ${SHELL} -l ' # Execute the default login shell as a login shell. (i) Replace the current shell process image with a new one.
alias	nsh2='cd && cls && nsh '

#	exit

#alias	e='exit'

# 'Internal' programs commands

#	killall			kill processes by name

alias	ka='killall '
#alias	k='killall '

#	ruby			Interpreted object-oriented scripting language

alias	rb='ruby '

#	python			an interpreted, interactive, object-oriented programming language

alias	py='python '

#	tar				manipulate tape archives

alias	tgz='tar -czvf ' # Create a new archive containing the specified items then compress the resulting archive with gzip, listing each file name as it is read written to the archive.

#	open			open files and directories

alias	opn='open '
alias	o='open '

alias	ofte='open -e ' # Open file using TextEdit.

alias	ofp='open -b com.apple.Preview ' # Open file using Preview.

alias	ofqtp='open -b com.apple.QuickTimePlayerX ' # Open file using QuickTime Player.

alias	ofs='open -b com.apple.Safari ' # Open file using Safari.

alias	ofvlc='open -b org.videolan.vlc ' # Open file using VLC Media Player.

alias	ofps='open -b com.adobe.Photoshop ' # Open file using Photoshop CS6.

alias	oflr='open -b com.adobe.Lightroom6 ' # Open file using Photoshop Lightroom 6.

alias	ofw='open -b com.microsoft.Word ' # Open file using Word for Mac 2011.

alias	ofx='open -b com.microsoft.Excel ' # Open file using Excel for Mac 2011.

alias	rff='open -R ' # Reveal files using Finder.

#	qlmanage		Quick Look server debug and management tool

alias	quicklook='qlmanage '
alias	ql='qlmanage '

alias	qlp='qlmanage -p ' # Display the Quick Look generated preview for the specified files.

# 	ls				list directory contents

alias	ls='ls -G ' # Colorize ls output.

alias	l='ls -1F ' # List simply directory contents.
#alias	ls2='l '

alias	lh='ls -Ad .*' # List directory hidden files.
#alias	lh2='la -1AdF .*'

alias	la='ls -a ' # List all directory contents.
#alias	la2='ls -1aF '

alias	ll='pwd && ls -@aeFGlT ' # List extendedly all directory contents.

#	du				display disk usage statistics

alias	du='du -c -d 0 -h ' # Display DU stats with a grand total, an entry for all files and directories 0 directories deep, human-readably.

#	clear			clear the terminal screen

alias	clr='clear'
#alias	c='clear'

#	PlistBuddy		read and write values to plists

alias	PlistBuddy='/usr/libexec/PlistBuddy '
alias	plistbuddy='PlistBuddy '
alias	pb='PlistBuddy '

#	JSC				https://trac.webkit.org/wiki/JSC

alias	jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc '

#	softwareupdate	system software update tool

alias	swu='softwareupdate '

#	airport			get information for 802.11 interface

alias	AirPort='airport '
alias	airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/A/Resources/airport '
alias	ap='airport '

# External programs commands

# 	git				the stupid content tracker

#alias	git='/usr/local/git/bin/git ' # Get fucked, Apple. /i\ Requires Git for Mac OS X from the official Git website (http://git-scm.com/).
alias	g='git '

#	fswatch			Ask for notification when the contents of the specified files of directory hierarchies are modified.

alias	fsw='fswatch '

#	mas-cli			A simple command line interface for the Mac App Store. Designed for scripting and automation.

#alias	mas-cli='mas '
#alias	MacAppStore='mas '
#alias	macappstore='mas '
#alias	AppStore='mas '
#alias	appstore='mas '

#	dbxcli			A command line tool for Dropbox users and team admins

alias	dbxcli='/usr/local/bin/dbxcli '
#alias	dropbox='dbxcli '
alias	dbx='dbxcli '

# Shell functions

alias	rds='RemoveDSStore'

alias	rlp='ResetLaunchPad'

alias	tara='tarall '

#alias	ssu='systemsoftwareupdate'

alias	nleof='add_missing_NL_at_EOF'

alias	rxa='RemoveExtendedAttributes'

# Computer programs

alias	RPwG='ruby ${HOME}/.files/lib/scpt/RPwG.rb'
alias	rpwg='RPwG'

#alias	addtemp{,orary}dir{,ectory}='~/.files/lib/scpt/addtemporarydirectory.sh'
#alias	a{tmpdir,td}='addtemporarydirectory'
#alias	gatd='~/.files/lib/scpt/addtemporarydirectorythengotoit.sh'
#alias	maketemp{,orary}dir{,ectory}='~/.files/lib/scpt/maketemporarydirectory.sh'
#alias	mktmp='maketempdir'
#alias	mkcdtmp='sh ~/.files/lib/scpt/maketemporarydirectoryifitdoesntexistthenchangeworkingdirectorytoit.sh'
#alias	NewTemp{,orary}Folder='sh ~/.files/lib/scpt/NewTemporaryFolder.sh'
#alias	NewTempFolder='NewTemporaryFolder' # ...@->~/.files/lib/scpt/NewTemporaryFolder.sh
#alias	ntf='NewTemporaryFolder'
#alias	cntf=NewTemporaryFolder && tf'

alias	NewTestFolders='sh ~/.files/lib/scpt/NewTestFolders.sh'
alias	mktf='NewTestFolders'
alias	mctf='mktf && tf'
