if [ -f "${HOME}/.aliases.pvt" ]; then source "${HOME}/.aliases.pvt"; fi;

# Shell Special Built-In Utilities (Commands)



# Shell Builtin Utilities (Commands)

#	cd				change the working directory
# (i) Bourne Shell (sh) builtin.

alias	d='cd '

alias	..='cd ..' # Change the working directory to the current user's parent one.

alias	...='cd ../..' # Change the working directory to the current's grand-parent one.

alias	....='cd ../../..' # Change the working direcrory to the current's grand-grand-parent one.

alias	.....='cd ../../../..' # Change the working directory to the current's grand-grand-grand-parent one.

alias	......='cd ../../../../..' # Change the working directory to the current's grand-grand-grand-grand-parent one.

alias	.......='cd ../../../../../..' # Change the working directory to the current's fossilized ancestor one.

alias	........='cd ../../../../../../..' # Change the working directory to the current's Big Bang original matter particles one.

alias	r='cd /' # Change the working dir to root.

alias	~='cd ${HOME}' # Change the working directory to current user's home. (i) cd would do the same, and this is what I enter most, but it would break where the meaning of ~ changes.

alias	.f='cd ${HOME}/.files && git status --short && printf "\n" && printf ".gitnote:\n" && cat .gitnote && printf "\n"' # Change the working dir to my dot-files', show the working tree status, then concatenate and print .gitnote.

alias	ms='cd ${HOME}/Miscellaneous' # Change the working directory to the one of my miscellaneous files.

alias	wk='cd ${HOME}/Work' # Change the working directory to the one of my work in progress.

alias	e16s='cd /Volumes/KBS16GBFD'
alias	e64s='cd /Volumes/KBS64GBFD'
# Change the working directory to one of my USB flash drives' or other external storage's.

alias	r1='cd /Volumes/KBSPCMD100/VOICE/FOLDER01'
alias	r2='cd /Volumes/KBSPCMD100/VOICE/FOLDER02'
alias	r3='cd /Volumes/KBSPCMD100/VOICE/FOLDER03'
alias	r4='cd /Volumes/KBSPCMD100/VOICE/FOLDER04'
alias	r5='cd /Volumes/KBSPCMD100/VOICE/FOLDER05'
# Change the working directory to one of my recorder's recorded files'.

alias	dt='cd ${HOME}/Desktop' # Change the working dir to current macOS user's desktop'.

alias	dx='cd ${HOME}/Documents' # Change the working dir to current macOS user's documents'.

alias	dl='cd ${HOME}/Downloads' # Change the working dir to current macOS user's downloads'.

alias	ly='cd ${HOME}/Library' # Change the working dir to current macOS user's library's.

alias	mz='cd ${HOME}/Movies' # Change the working dir to current macOS user's movies'.

alias	mc='cd ${HOME}/Music' # Change the working dir to current macOS user's music's.

alias	px='cd ${HOME}/Pictures' # Change the working dir to current macOS user's pictures'.

alias	th='cd ${HOME}/.Trash' # Change the working dir to current macOS user's trash's.

alias	tf='cd ${HOME}/Temporary' # Change the working directory to current Apple Computer Operating System's current user's temporary unofficial folder.

alias	db='cd ${HOME}/Dropbox' # Change the working dir to current user's Dropbox's.

#	source
# (i) Bourne-Again Shell (bash) builtin.

alias	src='source '
#alias	s='source '

#	chdir
# (i) Z Shell (zsh) builtin.

alias	chdir='cd '
#alias	d='chdir '

#	exec

alias	nh='exec ${SHELL} -l ' # Execute the default login shell as a login shell. (i) Replace the current shell process image with a new one.
alias	ns='cd && cls && nh '

#	history

alias	hy='history'
alias	h='history | tail -n 20'

#	exit

#alias	e='exit'

# 'Internal' Programs (Commands)

#	vi				Vi IMproved, a programmer's text editor
#	vim

alias	vi='vim +star '
alias	vim='vim +startinsert '
alias	v='vi '

#	mkdir			make directories

alias	md='mkdir '

#	killall			kill processes by name

alias	ka='killall '
alias	k='killall '

#	ruby			Interpreted object-oriented scripting language

alias	rb='ruby '

#	python			an interpreted, interactive, object-oriented programming language

alias	py='python '
alias	py3='python3 '

#	osascript		execute OSA scripts (AppleScript, JavaScript, etc)

alias	osa='osascript '

#	tar				manipulate tape archives

alias	tgz='tar -czvf ' # Create a new archive containing the specified items then compress the resulting archive with gzip, listing each file name as it is read written to the archive.

#	rsync			faster, flexible replacement for rcp

alias	rsync-copy='rsync -avz --progress -h '
alias	rsync-move='rsync -avz --progress -h --remove-source-files '
alias	rsync-synchronize='rsync -avzu --delete --progress -h '
alias	rsync-update='rsync -avzu --progress -h '
# Florent Carre `colundrum`'s rsync aliases

#	open			open files and directories

alias	opn='open '
alias	o='open '

alias	ofte='open -e ' # Open file using TextEdit.

alias	ofp='open -b com.apple.Preview ' # Open file using Preview.

alias	ofqtp='open -b com.apple.QuickTimePlayerX ' # Open file using QuickTime Player.

alias	ofs='open -b com.apple.Safari ' # Open file using Safari.

alias	ofvlc='open -b org.videolan.vlc ' # Open file using VLC Media Player.

alias	ofps='open -b com.adobe.Photoshop ' # Open file using Photoshop CS6.

alias	oflr='open -b com.adobe.Lightroom6 ' # Open file using Photoshop Lightroom 6.

alias	ofw='open -b com.microsoft.Word ' # Open file using Word for Mac 2011.

alias	ofx='open -b com.microsoft.Excel ' # Open file using Excel for Mac 2011.

alias	gvi='open -b org.vim.MacVim ' # Open file using MacVim.

alias	rff='open -R ' # Reveal files using Finder.

#	xattr			display and manipulate extended attributes

alias	dxa='xattr -rc .' # Remove every file's all extended attributes of the current directory recursively.

#	qlmanage		Quick Look server debug and management tool

alias	QuickLook='qlmanage '
alias	quicklook='qlmanage '
alias	ql='qlmanage '

alias	qlp='qlmanage -p ' # Display the Quick Look generated preview for the specified files.

# 	ls				list directory contents

if ls --color > /dev/null 2>&1 # If this silenced command evaluates to true,
then # then the implemented LS is GNU LS,
	alias	ls='ls --color' # so colorize GNU LS' output,
else # else the implemented LS is BSD LS, so
	alias	ls='ls -G'
fi # Colorize LS' output.
#alias	ls='lf -F ' # Type LS' output.
alias	l='ls '

alias	lh='ls -Ad .*' # List directory hidden files.
#alias	lh2='la -1AdF .*'

#alias	lf='ls -AF | grep -v -e / -e \* -e @ -e = -e % -e \| -e \>' # List directory's regular files.

#alias	lhf='ls -AdF .* | grep -v -e / -e \* -e @ -e = -e % -e \| -e \>' # List directory's hidden regular files.

alias	ld='ls -d */' # List directory's subdirectories.

#alias	lhd='ls -d .*/ | tail -n +3' # List directory's hidden subdirectories.

alias	la='ls -a ' # List all directory contents.
#alias	la2='ls -1aF '

#alias	l='ls -1F ' # List simply directory contents.
#alias	ls2='l '

#	du				display disk usage statistics

alias	du='du -c -d 0 -h ' # Display DU stats with a grand total, an entry for all files and directories 0 directories deep, human-readably.

#	printf			formatted output

alias	_sh='printf "${SHELL}\n"' # Output the current shell.

alias	_n='printf "${RANDOM}\n"' # Output a number up to 32767.
alias	_n2='var=${RANDOM}; expr ${var} \* ${var}' # Output a number up to 32767**2.

#	less				opposite of more

alias	les='less '

#	clear			clear the terminal screen

alias	clr='clear '
#alias	c='clear '

#	PlistBuddy		read and write values to plists

alias	PlistBuddy='/usr/libexec/PlistBuddy '
alias	plistbuddy='PlistBuddy '
alias	pb='PlistBuddy '

#	JSC				https://trac.webkit.org/wiki/JSC

alias	jsc='/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc '

#	airport			get information for 802.11 interface

alias	AirPort='airport '
alias	airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/A/Resources/airport '
alias	ap='airport '

#	man				format and display the on-line manual pages

alias	mn='man '

alias	ascii='man ascii' # Output the man page of the ASCII character sets.

# External Programs (Commands)

# 	git				the stupid content tracker

#alias	git='/usr/local/git/bin/git ' # Get fucked, Apple. /i\ Requires Git for Mac OS X from the official Git website (http://git-scm.com/).
alias	g='git '

#	fswatch			Ask for notification when the contents of the specified files of directory hierarchies are modified.

alias	fsw='fswatch '

#	octave

alias	oct='octave '

#	mas-cli			A simple command line interface for the Mac App Store. Designed for scripting and automation.

alias	MacAppStore='mas-cli '
alias	macappstore='mas-cli '
alias	mas='mas-cli '

# Shell Functions

#alias	cs='cls'
alias	c='cls'

alias	mfa='MakeFinderAlias '

alias	dds='DeleteDSStore'

alias	rlp='ResetLaunchPad'

# Computer Programs

#alias	RPwG='ruby ${HOME}/.files/lib/scpt/RPwG.rb'
alias	rpwg='ruby ${HOME}/.files/lib/scpt/RPwG.rb'
alias	rp='ruby ${HOME}/.files/lib/scpt/RPwG.rb'

alias	MakeTemporaryFolder='sh ${HOME}/.files/lib/scpt/NewTemporaryFolder.sh'
alias	maketemporaryfolder='sh ${HOME}/.files/lib/scpt/NewTemporaryFolder.sh'
alias	mtf='MakeTemporaryFolder && tf'

alias	CreateTestFolders='sh ${HOME}/.files/lib/scpt/NewTestFolders.sh'
alias	createtestfolders='sh ${HOME}/.files/lib/scpt/NewTestFolders.sh'
alias	ctf='CreateTestFolders && tf'
