#!/usr/bin/env bash

export	LANG=en_US.UTF-8
export	LC_ALL=en_US.UTF-8

#export	LIBRARY=${HOME}/lib #        export        LIBRARY=${HOME}/library
#export	DOTFILES=${HOME}/.fl #       export       DOTFILES=${HOME}/.files
#export BINARIES=${HOME}/bin #       export       BINARIES=${HOME}/binary
#export	DESKTOP=${HOME}/dsk #        export        DESKTOP=${HOME}/desktop
#export	WORKINPROGRESS=${HOME}/wip # export WORKINPROGRESS=${HOME}/work
#export	DOCUMENTS=${HOME}/dox #      export      DOCUMENTS=${HOME}/documents
#export	IMAGE=${HOME}/img #          export          IMAGE=${HOME}/image     # export PHOTO=${HOME}/pht
#export	AUDIO=${HOME}/aud #          export          AUDIO=${HOME}/audio     # export MUSIC=${HOME}/mus
#export	VIDEO=${HOME}/vdo #          export          VIDEO=${HOME}/video
#export	MISCELLANEOUS=${HOME}/msc #  export  MISCELLANEOUS=${HOME}/misc
#export	DOWNLOADS=${HOME}/dls #      export      DOWNLOADS=${HOME}/downloads
#export	TRASH=${HOME}/tsh #          export          TRASH=${HOME}/trash
#export	TEMPORARY=${HOME}/tmp #      export      TEMPORARY=${HOME}/temp

export	DOTFILES=${HOME}/.files
export	APPLICATIONS=/Applications
export	LIBRARY=${HOME}/Library
export	DESKTOP=${HOME}/Desktop
export	DOCUMENTS=${HOME}/Documents
export	DOWNLOADS=${HOME}/Downloads
export	DROPBOX=${HOME}/Dropbox
export	MISCELLANEOUS=${HOME}/Miscellaneous
export	MOVIES=${HOME}/Movies
export	MUSIC=${HOME}/Music
export	PICTURES=${HOME}/Pictures
export	PUBLIC=${HOME}/Public
export	TEMPORARY=${HOME}/Temporary
export	TRASH=${HOME}/.Trash
export	WORK=${HOME}/Work

export	VISUAL=vim
export	EDITOR=${VISUAL}

#shopt -s histappend # (i) should be run here first; is already ran in .bashrc.
export	HISTSIZE=32767
export	HISTFILESIZE=${HISTSIZE}
export	HISTFILE=${HOME}/.bash_history
export	HISTCONTROL=ignoredups:erasedups
export	HISTIGNORE=ls:pwd:cd:history
export	HISTTIMEFORMAT="$(printf '\r\e[K')$(tput setaf 0)$(tput setab 7)%F %T$(tput sgr0)  "
export	PROMPT_COMMAND='history -a; history -n'

export	CLICOLOR=1
export	LSCOLORS=egfxcxdxbxegedabagacad # 'Finder Color Scheme' for ls; default value: exfxcxdxbxegedabagacad
