# Mac OS, Mac OS X, OS X & macOS

.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
Network Trash Folder
.Spotlight-V100
Temporary Items
.Trashes
._*

# Windows

Desktop.ini
ehthumbs.db
Thumbs.db

# EMACS

#*#
*~

# VIM
*.swp
*.swo
*.swn
