<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>\alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>\beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℂ</string>
		<key>shortcut</key>
		<string>\C</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>χ</string>
		<key>shortcut</key>
		<string>\chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>δ</string>
		<key>shortcut</key>
		<string>\delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>\eo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε</string>
		<key>shortcut</key>
		<string>\epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>η</string>
		<key>shortcut</key>
		<string>\eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>\fa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>\gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ι</string>
		<key>shortcut</key>
		<string>\iota</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>κ</string>
		<key>shortcut</key>
		<string>\kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lamda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟺</string>
		<key>shortcut</key>
		<string>\llrda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>\mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℕ</string>
		<key>shortcut</key>
		<string>\N</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∉</string>
		<key>shortcut</key>
		<string>\naeo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ν</string>
		<key>shortcut</key>
		<string>\nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ω</string>
		<key>shortcut</key>
		<string>\omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ο</string>
		<key>shortcut</key>
		<string>\omicron</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>φ</string>
		<key>shortcut</key>
		<string>\phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>π</string>
		<key>shortcut</key>
		<string>\pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ψ</string>
		<key>shortcut</key>
		<string>\psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℝ</string>
		<key>shortcut</key>
		<string>\R</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ρ</string>
		<key>shortcut</key>
		<string>\rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>\sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>τ</string>
		<key>shortcut</key>
		<string>\tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\times</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>υ</string>
		<key>shortcut</key>
		<string>\upsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℤ</string>
		<key>shortcut</key>
		<string>\Z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ζ</string>
		<key>shortcut</key>
		<string>\zeta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ξ</string>
		<key>shortcut</key>
		<string>\zi</string>
	</dict>
</array>
</plist>
