<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>pourcentage</string>
		<key>shortcut</key>
		<string>%age</string>
		<key>timestamp</key>
		<integer>1479652002</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>primo</string>
		<key>shortcut</key>
		<string>1o</string>
		<key>timestamp</key>
		<integer>1479804174</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>secundo</string>
		<key>shortcut</key>
		<string>2o</string>
		<key>timestamp</key>
		<integer>1479804184</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tertio</string>
		<key>shortcut</key>
		<string>3o</string>
		<key>timestamp</key>
		<integer>1479804188</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>septembre</string>
		<key>shortcut</key>
		<string>7bre</string>
		<key>timestamp</key>
		<integer>1479804218</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>octobre</string>
		<key>shortcut</key>
		<string>8bre</string>
		<key>timestamp</key>
		<integer>1479804227</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>novembre</string>
		<key>shortcut</key>
		<string>9bre</string>
		<key>timestamp</key>
		<integer>1479804236</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>décembre</string>
		<key>shortcut</key>
		<string>10bre</string>
		<key>timestamp</key>
		<integer>1479804246</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>avec</string>
		<key>shortcut</key>
		<string>ac</string>
		<key>timestamp</key>
		<integer>1479804288</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>activation</string>
		<key>shortcut</key>
		<string>act°</string>
		<key>timestamp</key>
		<integer>1479650008</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>altération</string>
		<key>shortcut</key>
		<string>alt°</string>
		<key>timestamp</key>
		<integer>1479803185</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>altérations</string>
		<key>shortcut</key>
		<string>alts°</string>
		<key>timestamp</key>
		<integer>1479803190</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>appartement</string>
		<key>shortcut</key>
		<string>apt</string>
		<key>timestamp</key>
		<integer>1479804264</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>arrondissement</string>
		<key>shortcut</key>
		<string>arrt</string>
		<key>timestamp</key>
		<integer>1479804261</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>articulation</string>
		<key>shortcut</key>
		<string>art°</string>
		<key>timestamp</key>
		<integer>1479802921</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>association</string>
		<key>shortcut</key>
		<string>ass°</string>
		<key>timestamp</key>
		<integer>1479802242</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>attention</string>
		<key>shortcut</key>
		<string>att°</string>
		<key>timestamp</key>
		<integer>1479649992</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aujourd'hui</string>
		<key>shortcut</key>
		<string>auj</string>
		<key>timestamp</key>
		<integer>1479804274</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>beaucoup</string>
		<key>shortcut</key>
		<string>bcp</string>
		<key>timestamp</key>
		<integer>1479804311</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>c'est–à-dire</string>
		<key>shortcut</key>
		<string>cad</string>
		<key>timestamp</key>
		<integer>1479804336</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>changement</string>
		<key>shortcut</key>
		<string>cgt</string>
		<key>timestamp</key>
		<integer>1478006597</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>changements</string>
		<key>shortcut</key>
		<string>cgts</string>
		<key>timestamp</key>
		<integer>1478006866</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chapitre</string>
		<key>shortcut</key>
		<string>chap</string>
		<key>timestamp</key>
		<integer>1479804378</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>compagnie</string>
		<key>shortcut</key>
		<string>cie</string>
		<key>timestamp</key>
		<integer>1479804353</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie clinique</string>
		<key>shortcut</key>
		<string>cli</string>
		<key>timestamp</key>
		<integer>1479803347</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>communication</string>
		<key>shortcut</key>
		<string>comm°</string>
		<key>timestamp</key>
		<integer>1479803062</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>compréhension</string>
		<key>shortcut</key>
		<string>comp°</string>
		<key>timestamp</key>
		<integer>1479803057</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>confusion</string>
		<key>shortcut</key>
		<string>con°</string>
		<key>timestamp</key>
		<integer>1479802989</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>confusions</string>
		<key>shortcut</key>
		<string>cons°</string>
		<key>timestamp</key>
		<integer>1479803003</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>coordination</string>
		<key>shortcut</key>
		<string>coo</string>
		<key>timestamp</key>
		<integer>1479649143</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cependant</string>
		<key>shortcut</key>
		<string>cpdt</string>
		<key>timestamp</key>
		<integer>1479804384</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>comportement</string>
		<key>shortcut</key>
		<string>cpt</string>
		<key>timestamp</key>
		<integer>1478006842</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>comportements</string>
		<key>shortcut</key>
		<string>cpts</string>
		<key>timestamp</key>
		<integer>1478368878</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cours</string>
		<key>shortcut</key>
		<string>crs</string>
		<key>timestamp</key>
		<integer>1479804393</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>d'environnement</string>
		<key>shortcut</key>
		<string>d'env</string>
		<key>timestamp</key>
		<integer>1478688323</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>d'intelligence</string>
		<key>shortcut</key>
		<string>d'int</string>
		<key>timestamp</key>
		<integer>1478688328</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>déformation</string>
		<key>shortcut</key>
		<string>def°</string>
		<key>timestamp</key>
		<integer>1479802929</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>déformations</string>
		<key>shortcut</key>
		<string>defs°</string>
		<key>timestamp</key>
		<integer>1479802939</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>deletion</string>
		<key>shortcut</key>
		<string>del°</string>
		<key>timestamp</key>
		<integer>1479803968</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie développementale</string>
		<key>shortcut</key>
		<string>dev</string>
		<key>timestamp</key>
		<integer>1479803536</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dégénère</string>
		<key>shortcut</key>
		<string>dgn</string>
		<key>timestamp</key>
		<integer>1479649273</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dégénérer</string>
		<key>shortcut</key>
		<string>dgnr</string>
		<key>timestamp</key>
		<integer>1479649279</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dégénérescence</string>
		<key>shortcut</key>
		<string>dgnrs</string>
		<key>timestamp</key>
		<integer>1479649287</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie différentielle</string>
		<key>shortcut</key>
		<string>dif</string>
		<key>timestamp</key>
		<integer>1479803471</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>directeur</string>
		<key>shortcut</key>
		<string>dir</string>
		<key>timestamp</key>
		<integer>1479804437</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>direction</string>
		<key>shortcut</key>
		<string>dir°</string>
		<key>timestamp</key>
		<integer>1479804440</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dans</string>
		<key>shortcut</key>
		<string>ds</string>
		<key>timestamp</key>
		<integer>1479804466</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>désolé</string>
		<key>shortcut</key>
		<string>dsl</string>
		<key>timestamp</key>
		<integer>1479804482</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>développement</string>
		<key>shortcut</key>
		<string>dvt</string>
		<key>timestamp</key>
		<integer>1477313291</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>développemental</string>
		<key>shortcut</key>
		<string>dvtl</string>
		<key>timestamp</key>
		<integer>1477666223</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>éducation</string>
		<key>shortcut</key>
		<string>edu°</string>
		<key>timestamp</key>
		<integer>1479803842</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>environnement</string>
		<key>shortcut</key>
		<string>env</string>
		<key>timestamp</key>
		<integer>1478686505</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>environnemental</string>
		<key>shortcut</key>
		<string>envl</string>
		<key>timestamp</key>
		<integer>1479649340</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>environnementaux</string>
		<key>shortcut</key>
		<string>envx</string>
		<key>timestamp</key>
		<integer>1479649345</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>épistémologie de la psychologie</string>
		<key>shortcut</key>
		<string>epsy</string>
		<key>timestamp</key>
		<integer>1479803503</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>éthologie</string>
		<key>shortcut</key>
		<string>etho</string>
		<key>timestamp</key>
		<integer>1479803613</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>évolution</string>
		<key>shortcut</key>
		<string>evo°</string>
		<key>timestamp</key>
		<integer>1479802413</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>exclusion</string>
		<key>shortcut</key>
		<string>exc°</string>
		<key>timestamp</key>
		<integer>1479803076</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie cognitive expérimentale</string>
		<key>shortcut</key>
		<string>exp</string>
		<key>timestamp</key>
		<integer>1479803370</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>expression</string>
		<key>shortcut</key>
		<string>exp°</string>
		<key>timestamp</key>
		<integer>1479803040</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fonction</string>
		<key>shortcut</key>
		<string>ft</string>
		<key>timestamp</key>
		<integer>1479119511</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fonctionnel</string>
		<key>shortcut</key>
		<string>ftl</string>
		<key>timestamp</key>
		<integer>1479649165</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fonctions</string>
		<key>shortcut</key>
		<string>fts</string>
		<key>timestamp</key>
		<integer>1479119514</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fonctionnement</string>
		<key>shortcut</key>
		<string>ftt</string>
		<key>timestamp</key>
		<integer>1479649372</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie gérontologique</string>
		<key>shortcut</key>
		<string>geronto</string>
		<key>timestamp</key>
		<integer>1479803814</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>histoire et épistémologie de la psychologie</string>
		<key>shortcut</key>
		<string>hepsy</string>
		<key>timestamp</key>
		<integer>1479803511</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>histoire de la psychologie</string>
		<key>shortcut</key>
		<string>hpsy</string>
		<key>timestamp</key>
		<integer>1479803491</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hôpital</string>
		<key>shortcut</key>
		<string>htl</string>
		<key>timestamp</key>
		<integer>1479650246</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>information</string>
		<key>shortcut</key>
		<string>inf°</string>
		<key>timestamp</key>
		<integer>1479650213</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>informations</string>
		<key>shortcut</key>
		<string>infs°</string>
		<key>timestamp</key>
		<integer>1479650216</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intelligence</string>
		<key>shortcut</key>
		<string>int</string>
		<key>timestamp</key>
		<integer>1478369035</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intégration</string>
		<key>shortcut</key>
		<string>integ°</string>
		<key>timestamp</key>
		<integer>1479803113</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>interaction</string>
		<key>shortcut</key>
		<string>inter°</string>
		<key>timestamp</key>
		<integer>1479803117</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>intellectuel</string>
		<key>shortcut</key>
		<string>intl</string>
		<key>timestamp</key>
		<integer>1479649128</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>cassette</string>
		<key>shortcut</key>
		<string>k7</string>
		<key>timestamp</key>
		<integer>1479805549</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>l'environnement</string>
		<key>shortcut</key>
		<string>l'env</string>
		<key>timestamp</key>
		<integer>1478686500</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>l'information</string>
		<key>shortcut</key>
		<string>l'inf°</string>
		<key>timestamp</key>
		<integer>1479650218</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>l'intelligence</string>
		<key>shortcut</key>
		<string>l'int</string>
		<key>timestamp</key>
		<integer>1478688317</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>latéralisation</string>
		<key>shortcut</key>
		<string>lat°</string>
		<key>timestamp</key>
		<integer>1479803094</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mise à jour</string>
		<key>shortcut</key>
		<string>maj</string>
		<key>timestamp</key>
		<integer>1479804536</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mouvement</string>
		<key>shortcut</key>
		<string>mvt</string>
		<key>timestamp</key>
		<integer>1477666201</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mouvements</string>
		<key>shortcut</key>
		<string>mvts</string>
		<key>timestamp</key>
		<integer>1477313343</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>numéro</string>
		<key>shortcut</key>
		<string>n°</string>
		<key>timestamp</key>
		<integer>1479648799</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nouvelle</string>
		<key>shortcut</key>
		<string>nelle</string>
		<key>timestamp</key>
		<integer>1479050996</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nouvelles</string>
		<key>shortcut</key>
		<string>nelles</string>
		<key>timestamp</key>
		<integer>1479050999</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>neuropsychologie</string>
		<key>shortcut</key>
		<string>neuro</string>
		<key>timestamp</key>
		<integer>1479803802</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>neuropsychopharmacologie</string>
		<key>shortcut</key>
		<string>npsp</string>
		<key>timestamp</key>
		<integer>1479803765</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>option</string>
		<key>shortcut</key>
		<string>opt°</string>
		<key>timestamp</key>
		<integer>1479804569</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychopathologie</string>
		<key>shortcut</key>
		<string>pat</string>
		<key>timestamp</key>
		<integer>1479803334</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>problème</string>
		<key>shortcut</key>
		<string>pb</string>
		<key>timestamp</key>
		<integer>1478006847</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>problèmes</string>
		<key>shortcut</key>
		<string>pbs</string>
		<key>timestamp</key>
		<integer>1478006874</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>parce-que</string>
		<key>shortcut</key>
		<string>pcq</string>
		<key>timestamp</key>
		<integer>1479649056</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pendant</string>
		<key>shortcut</key>
		<string>pdt</string>
		<key>timestamp</key>
		<integer>1479804581</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>perturbation</string>
		<key>shortcut</key>
		<string>per°</string>
		<key>timestamp</key>
		<integer>1479802994</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>plusieurs</string>
		<key>shortcut</key>
		<string>plrs</string>
		<key>timestamp</key>
		<integer>1479804594</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pourquoi</string>
		<key>shortcut</key>
		<string>pq</string>
		<key>timestamp</key>
		<integer>1479649044</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>production</string>
		<key>shortcut</key>
		<string>pro°</string>
		<key>timestamp</key>
		<integer>1479803014</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychanalyse</string>
		<key>shortcut</key>
		<string>psa</string>
		<key>timestamp</key>
		<integer>1479804096</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie cognitive</string>
		<key>shortcut</key>
		<string>pscog</string>
		<key>timestamp</key>
		<integer>1479803378</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychophysiologie</string>
		<key>shortcut</key>
		<string>psp</string>
		<key>timestamp</key>
		<integer>1479803479</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychopharmacologie</string>
		<key>shortcut</key>
		<string>psph</string>
		<key>timestamp</key>
		<integer>1479803776</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie</string>
		<key>shortcut</key>
		<string>psy</string>
		<key>timestamp</key>
		<integer>1479306987</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologues</string>
		<key>shortcut</key>
		<string>psys</string>
		<key>timestamp</key>
		<integer>1479290516</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelconque</string>
		<key>shortcut</key>
		<string>qcq</string>
		<key>timestamp</key>
		<integer>1479804617</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quand</string>
		<key>shortcut</key>
		<string>qd</string>
		<key>timestamp</key>
		<integer>1479804623</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelque</string>
		<key>shortcut</key>
		<string>qlq</string>
		<key>timestamp</key>
		<integer>1479649023</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelque</string>
		<key>shortcut</key>
		<string>qq</string>
		<key>timestamp</key>
		<integer>1479804628</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelque chose</string>
		<key>shortcut</key>
		<string>qqch</string>
		<key>timestamp</key>
		<integer>1479298899</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelquefois</string>
		<key>shortcut</key>
		<string>qqf</string>
		<key>timestamp</key>
		<integer>1479804636</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelqu'un</string>
		<key>shortcut</key>
		<string>qqn</string>
		<key>timestamp</key>
		<integer>1479804644</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quelque part</string>
		<key>shortcut</key>
		<string>qqpt</string>
		<key>timestamp</key>
		<integer>1479804663</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>quantité</string>
		<key>shortcut</key>
		<string>qte</string>
		<key>timestamp</key>
		<integer>1479804674</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>rééducation</string>
		<key>shortcut</key>
		<string>ree°</string>
		<key>timestamp</key>
		<integer>1479802954</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>représente</string>
		<key>shortcut</key>
		<string>rpz</string>
		<key>timestamp</key>
		<integer>1479803826</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>signification</string>
		<key>shortcut</key>
		<string>sig°</string>
		<key>timestamp</key>
		<integer>1479802970</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>salut</string>
		<key>shortcut</key>
		<string>slt</string>
		<key>timestamp</key>
		<integer>1479804704</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>psychologie sociale</string>
		<key>shortcut</key>
		<string>soc</string>
		<key>timestamp</key>
		<integer>1479803565</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>société</string>
		<key>shortcut</key>
		<string>ste</string>
		<key>timestamp</key>
		<integer>1479805114</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stimulation</string>
		<key>shortcut</key>
		<string>sti°</string>
		<key>timestamp</key>
		<integer>1479803023</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>stimulations</string>
		<key>shortcut</key>
		<string>stis°</string>
		<key>timestamp</key>
		<integer>1479803031</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>symbolique</string>
		<key>shortcut</key>
		<string>sym</string>
		<key>timestamp</key>
		<integer>1479051022</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>système</string>
		<key>shortcut</key>
		<string>sys</string>
		<key>timestamp</key>
		<integer>1479051018</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tabulation</string>
		<key>shortcut</key>
		<string>tab°</string>
		<key>timestamp</key>
		<integer>1479803964</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>toujours</string>
		<key>shortcut</key>
		<string>tjrs</string>
		<key>timestamp</key>
		<integer>1479649038</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tout le monde</string>
		<key>shortcut</key>
		<string>tlm</string>
		<key>timestamp</key>
		<integer>1479805085</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tel que</string>
		<key>shortcut</key>
		<string>tq</string>
		<key>timestamp</key>
		<integer>1479653095</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>trouble</string>
		<key>shortcut</key>
		<string>tr</string>
		<key>timestamp</key>
		<integer>1478006855</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>transition</string>
		<key>shortcut</key>
		<string>tra°</string>
		<key>timestamp</key>
		<integer>1479650225</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>troubles</string>
		<key>shortcut</key>
		<string>trs</string>
		<key>timestamp</key>
		<integer>1478006859</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>tout</string>
		<key>shortcut</key>
		<string>tt</string>
		<key>timestamp</key>
		<integer>1479804815</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>variation</string>
		<key>shortcut</key>
		<string>var°</string>
		<key>timestamp</key>
		<integer>1479804135</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>variations</string>
		<key>shortcut</key>
		<string>vars°</string>
		<key>timestamp</key>
		<integer>1479804139</integer>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y compris</string>
		<key>shortcut</key>
		<string>yc</string>
		<key>timestamp</key>
		<integer>1479805000</integer>
	</dict>
</array>
</plist>
