<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Original Size</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Original Size With Black Watermark</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<true/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputCompositeImagePath</key>
				<string>/Users/kvpb/Library/Application Support/Aperture/WatermarkImages/watermark1.png</string>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>9</integer>
				<key>inputScale</key>
				<real>0.25</real>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Original Size With White Watermark</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<true/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputCompositeImagePath</key>
				<string>/Users/kvpb/Library/Application Support/Aperture/WatermarkImages/watermark2.png</string>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>9</integer>
				<key>inputScale</key>
				<real>0.25</real>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>1</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - 50% of Original Size</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>1024</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Fit within 1024 x 1024</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>640</integer>
		<key>DestinationPixelWidth</key>
		<integer>640</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Fit within 640 x 640</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>2</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>TIFF - Original Size (8-bit)</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>3</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>TIFF - Original Size (16-bit)</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>1</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>3</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>TIFF - 50% of Original Size</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>1024</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>3</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>TIFF - Fit within 1024 x 1024</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>1</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<false/>
		<key>Name</key>
		<string>PNG - Original Size</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>1</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>1</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<false/>
		<key>Name</key>
		<string>PNG - 50% of Original Size</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>1024</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>1</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<false/>
		<key>Name</key>
		<string>PNG - Fit within 1024 x 1024</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>640</integer>
		<key>DestinationPixelWidth</key>
		<integer>640</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>1</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<false/>
		<key>Name</key>
		<string>PNG - Fit within 640 x 640</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>4</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>PSD - Original Size (16-bit)</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>1</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>4</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>PSD - 50% of Original Size (16-bit)</string>
		<key>PercentToSizeBy</key>
		<real>50</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>640</integer>
		<key>DestinationPixelWidth</key>
		<integer>640</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>6</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>Email Small - JPEG</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>1024</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>0</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>8</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>Email Medium - JPEG</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		HT/aLttKiatgojxffH2B3Q==
		</data>
		<key>ColorSyncProfileName</key>
		<string>sRGB IEC61966-2.1</string>
		<key>DestinationDPI</key>
		<integer>72</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGGammaOperation</string>
			<key>DGOperationDisplayName</key>
			<string>Gamma</string>
			<key>DGOperationIdentifier</key>
			<string>DGGammaOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<true/>
			<key>inputKeys</key>
			<dict>
				<key>inputPower</key>
				<real>1</real>
			</dict>
		</dict>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>Email Original Size - JPEG</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>WatermarkSettings</key>
		<dict>
			<key>DGOperationClassName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationDisplayName</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationIdentifier</key>
			<string>DGImageCompositeScaledOperation</string>
			<key>DGOperationVersionNumber</key>
			<integer>0</integer>
			<key>enabled</key>
			<false/>
			<key>inputKeys</key>
			<dict>
				<key>inputOpacity</key>
				<real>0.5</real>
				<key>inputRectPointLocation</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
</array>
</plist>
