<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RKMetadataSetVersionKey</key>
	<integer>13</integer>
	<key>metadataSets</key>
	<array>
		<dict>
			<key>editable</key>
			<false/>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array/>
			<key>name</key>
			<string>None</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>iptcProperties.Keywords</string>
				<string>iptcProperties.CopyrightNotice</string>
				<string>iptcProperties.ObjectName</string>
				<string>exifProperties.ImageDate</string>
				<string>basicProperties.ProcessedPixelSize</string>
				<string>basicProperties.FileSize</string>
				<string>basicProperties.MasterLocation</string>
				<string>allBadges</string>
			</array>
			<key>name</key>
			<string>General</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
			</array>
			<key>name</key>
			<string>Name Only</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>iptcProperties.Caption/Abstract</string>
			</array>
			<key>name</key>
			<string>Caption Only</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>basicProperties.MainRating</string>
				<string>allBadges</string>
			</array>
			<key>name</key>
			<string>Name &amp; Ratings</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>iptcProperties.Caption/Abstract</string>
			</array>
			<key>name</key>
			<string>Name &amp; Caption</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.MainRating</string>
				<string>allBadges</string>
			</array>
			<key>name</key>
			<string>Ratings</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>iptcProperties.Keywords</string>
			</array>
			<key>name</key>
			<string>Caption &amp; Keywords</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>iptcProperties.Byline</string>
				<string>iptcProperties.Credit</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>iptcProperties.CopyrightNotice</string>
			</array>
			<key>name</key>
			<string>Caption &amp; Credits</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>basicProperties.ColorLabel</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>exifProperties.FocalLength</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
			</array>
			<key>name</key>
			<string>Contact Sheet</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>basicProperties.FileName</string>
				<string>basicProperties.FileSize</string>
				<string>basicProperties.ProcessedPixelSize</string>
				<string>exifProperties.ColorModel</string>
				<string>exifProperties.ImageDate</string>
				<string>allBadges</string>
			</array>
			<key>name</key>
			<string>File Info</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>exifProperties.ImageDate</string>
				<string>exifProperties.Model</string>
				<string>exifProperties.LensModel</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>exifProperties.FocalLength</string>
				<string>exifProperties.FocalLenIn35mmFilm</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
				<string>exifProperties.Flash</string>
				<string>exifProperties.WhiteBalance</string>
				<string>exifProperties.ExposureProgram</string>
				<string>exifProperties.MeteringMode</string>
				<string>exifProperties.ExposureMode</string>
				<string>exifProperties.FocusMode</string>
				<string>exifProperties.ProfileName</string>
				<string>basicProperties.ProcessedPixelSize</string>
			</array>
			<key>name</key>
			<string>Photo Info</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>exifProperties.ImageDate</string>
				<string>exifProperties.Make</string>
				<string>exifProperties.Model</string>
				<string>exifProperties.CameraSerialNumber</string>
				<string>exifProperties.LensModel</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>exifProperties.FocalLength</string>
				<string>exifProperties.FocalLenIn35mmFilm</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
				<string>exifProperties.Flash</string>
				<string>exifProperties.FlashExposureComp</string>
				<string>exifProperties.WhiteBalance</string>
				<string>exifProperties.ExposureProgram</string>
				<string>exifProperties.ShootingMode</string>
				<string>exifProperties.MeteringMode</string>
				<string>exifProperties.ExposureMode</string>
				<string>exifProperties.FocusMode</string>
				<string>exifProperties.FocusDistance</string>
				<string>basicProperties.FileSize</string>
				<string>basicProperties.ProcessedPixelSize</string>
				<string>basicProperties.PixelSize</string>
				<string>exifProperties.ProfileName</string>
				<string>basicProperties.AspectRatio</string>
				<string>basicProperties.Orientation</string>
				<string>exifProperties.Depth</string>
			</array>
			<key>name</key>
			<string>EXIF Info</string>
		</dict>
		<dict>
			<key>keys</key>
			<array>
				<string>exifProperties.Latitude</string>
				<string>exifProperties.Longitude</string>
				<string>exifProperties.Altitude</string>
				<string>exifProperties.ImgDirection</string>
			</array>
			<key>name</key>
			<string>GPS</string>
		</dict>
		<dict>
			<key>context</key>
			<integer>3</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>allBadges</string>
				<string>basicProperties.MainRating</string>
				<string>iptcProperties.Keywords</string>
				<string>basicProperties.ColorLabel</string>
				<string>basicProperties.Flagged</string>
			</array>
			<key>name</key>
			<string>Viewer - Basic</string>
			<key>placementKey</key>
			<string>ViewerSet1Placement</string>
			<key>setNumber</key>
			<integer>1</integer>
			<key>showLabelsKey</key>
			<string>ViewerSet1ShowLabels</string>
		</dict>
		<dict>
			<key>context</key>
			<integer>3</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>basicProperties.MainRating</string>
				<string>allBadges</string>
				<string>basicProperties.ColorLabel</string>
				<string>basicProperties.Flagged</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.FocalLenIn35mmFilm</string>
				<string>exifProperties.FocalLength</string>
				<string>exifProperties.LensModel</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>iptcProperties.Keywords</string>
				<string>basicProperties.VersionName</string>
				<string>exifProperties.ImageDate</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>basicProperties.FileSize</string>
				<string>basicProperties.MasterLocation</string>
			</array>
			<key>name</key>
			<string>Viewer - Expanded</string>
			<key>placementKey</key>
			<string>ViewerSet2Placement</string>
			<key>setNumber</key>
			<integer>2</integer>
			<key>showLabelsKey</key>
			<string>ViewerSet2ShowLabels</string>
		</dict>
		<dict>
			<key>context</key>
			<integer>2</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>allBadges</string>
				<string>basicProperties.MainRating</string>
				<string>basicProperties.ColorLabel</string>
				<string>basicProperties.Flagged</string>
			</array>
			<key>name</key>
			<string>Grid View - Basic</string>
			<key>placementKey</key>
			<string>GridViewSet1Placement</string>
			<key>setNumber</key>
			<integer>1</integer>
			<key>showLabelsKey</key>
			<string>GridViewSet1ShowLabels</string>
		</dict>
		<dict>
			<key>context</key>
			<integer>2</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>allBadges</string>
				<string>basicProperties.MainRating</string>
				<string>basicProperties.VersionName</string>
				<string>basicProperties.ColorLabel</string>
				<string>basicProperties.Flagged</string>
			</array>
			<key>name</key>
			<string>Grid View - Expanded</string>
			<key>placementKey</key>
			<string>GridViewSet2Placement</string>
			<key>setNumber</key>
			<integer>2</integer>
			<key>showLabelsKey</key>
			<string>GridViewSet2ShowLabels</string>
		</dict>
		<dict>
			<key>context</key>
			<integer>1</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>allBadges</string>
				<string>basicProperties.MainRating</string>
				<string>basicProperties.ColorLabel</string>
				<string>basicProperties.Flagged</string>
				<string>exifProperties.ImageDate</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>exifProperties.FocalLenIn35mmFilm</string>
				<string>exifProperties.FocalLength</string>
				<string>exifProperties.LensModel</string>
				<string>basicProperties.ProcessedPixelSize</string>
				<string>basicProperties.Orientation</string>
				<string>basicProperties.AspectRatio</string>
				<string>basicProperties.FileName</string>
				<string>basicProperties.FileSize</string>
				<string>exifProperties.Model</string>
				<string>basicProperties.ImportGroup</string>
				<string>basicProperties.MasterLocation</string>
			</array>
			<key>name</key>
			<string>List - Basic</string>
			<key>setNumber</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>context</key>
			<integer>1</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>allBadges</string>
				<string>basicProperties.MainRating</string>
				<string>basicProperties.ColorLabel</string>
				<string>basicProperties.Flagged</string>
				<string>exifProperties.ImageDate</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>iptcProperties.Keywords</string>
				<string>iptcProperties.Credit</string>
				<string>iptcProperties.CopyrightNotice</string>
				<string>iptcProperties.ObjectName</string>
				<string>basicProperties.FileName</string>
				<string>basicProperties.FileSize</string>
				<string>exifProperties.Model</string>
				<string>basicProperties.ImportGroup</string>
				<string>basicProperties.MasterLocation</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>exifProperties.FocalLenIn35mmFilm</string>
				<string>exifProperties.FocalLength</string>
				<string>exifProperties.LensModel</string>
				<string>basicProperties.ProcessedPixelSize</string>
			</array>
			<key>name</key>
			<string>List - Expanded</string>
			<key>setNumber</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>context</key>
			<integer>4</integer>
			<key>hidden</key>
			<true/>
			<key>keys</key>
			<array>
				<string>basicProperties.VersionName</string>
				<string>basicProperties.FileName</string>
				<string>exifProperties.ImageDate</string>
				<string>basicProperties.FileSize</string>
				<string>iptcProperties.Caption/Abstract</string>
				<string>iptcProperties.Keywords</string>
				<string>exifProperties.ApertureValue</string>
				<string>exifProperties.ShutterSpeed</string>
				<string>exifProperties.ExposureBiasValue</string>
				<string>exifProperties.ISOSpeedRating</string>
				<string>exifProperties.FocalLenIn35mmFilm</string>
				<string>exifProperties.FocalLength</string>
				<string>basicProperties.ProcessedPixelSize</string>
				<string>exifProperties.Make</string>
				<string>exifProperties.Model</string>
				<string>basicProperties.MainRating</string>
			</array>
			<key>name</key>
			<string>Metadata Tooltips</string>
		</dict>
	</array>
</dict>
</plist>
